@charset "utf-8";
/* CSS Document */

body {
		font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
		background-color:aliceblue;
		line-height: 20px;
		font-kerning: normal;
}

a {
	color:#C0F;	
}

a:hover {
	color:#f14e32;	
}

#header {
	width:80%;
	margin: 10px auto auto auto;	
}

#header > div{
	display:inline-block;
}

#headshot {
	float:right;
	margin-bottom:15px;;		
}

#heading {
	float:left;	
}

h1 {
	
	font-size:xx-large;
	color:#333
}

h2 {
	font-size: x-large;
	color: #666
}

#information {
	clear:both;
}

.content {
	max-width:800px;
	width:70%;
	margin-left:auto;
	margin-right:auto;	
}

#socialmedia {
	display:inline-block;
	float:right;	
}

#socialmedia * img {
	display:inline;	
}

#contact {
	display:inline-block;	
	float:left;
}

li:not(:last-child) {
    margin-bottom: 5px;
}
